/* NAV BUTTON */

.btn-orcamento, .btn-orcamento-desktop{
    background-color: var(--whatsapp);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    width: 160px;
    height: 48px;

    border-radius: 15px;
    color: white;
    transition: .3s ease;
}

.btn-orcamento:hover{
    transform: translateY(-2px);
    background-color: var(--whatsapp-hover);
}